# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
FeaturesofGoLand20201.go
WhatsnewinGoLand20202.go
feature-trainer-version.txt
loops/
main.go
